@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Lato&family=Merriweather:ital,wght@1,700&family=Roboto:wght@700&family=Satisfy&display=swap');
#content {
    max-width: 1800px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    box-sizing: border-box;
    border: 10px solid #c2488d;
    background-color: #c2488d;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 150px;
    margin: 30px 30px 30px 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #2722ac;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    margin: 50px;
}
nav a:hover {
    text-align: center;
    background-color: #b49239;
    color: red;
    padding: 10px;
}

#fashion-home {
    display: grid;
    grid-template-columns: 50px 50px 50px;
}
.fashion {
    width: 50%;
    grid-column: 1/8;
    grid-row: 1/3;
    box-shadow: 5px 5px 10px pink;
}
.fashion-box {
    background-color: darkgray;
    font-family: milonga, Grenze, Display;
    line-height: 1.5em;
    padding: 35px;
    width: 20%;
    grid-column: 2/5;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}

.fashion-circle {
    border-radius: 50%;
    width: 300px;
    
}

.food-img {
    width: 50%;
    grid-column: 1/4;
    grid-row: 1/3;
    box-shadow: 5px 5px 10px pink;
}

#foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.food-box {
    background-color: darkgray;
    font-family: milonga, Grenze, Display;
    line-height: 1.5em;
    padding: 35px;
    width: 20%;
    grid-column: 3/5;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}

.shop-now,
.explore {
    background-color: #b49239;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.shop-now,
.explore {
    background-color: blueviolet;
}

body {
    background-color: pink;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.intro {
    text-align: auto;
    color: black;
    text-decoration: none;
    line-height: 1.5em;
    font-family: Roboto, "Sans-serif";
    padding: 80px;
    font-size: 1.5em;
    margin: 10px 10px 50px 50px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1/10;
    grid-template-rows: 1/3;

}

.food-circle {
    border-radius: 100%;
    width: 300px;
}

footer {
    background-color: lightskyblue;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}