/******************************************************************************
START grid layout extra credit
******************************************************************************/

body {
    box-sizing: border-box;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid1 h1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid2 h2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid3 h3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid4 h2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-bottom: 3em;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  section h2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  
  
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  
  fieldset > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }
  
  label {
    grid-template-columns: 1/1;
    justify-items: right;
  }
  
  input {
    grid-template-columns: 2/2;
    width: 100%
  }
  
  button {
    width: 100%
  }
  
  section > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }